*

!.gitignore
!README.md
!EdgeDetection.py
!Classification.py
!DataGenerationClassification.py
!pvoc07_util.py
!pvoc07_paths.txt
!DataGenerationClassificationHED.py
!Train.py
!train_configs.txt
!BinaryClassification.py
!DataGenBinaryClassification.py
!DataGenBinaryClassificationHED.py
!TrainBinary.py
!Eval.py
!eval_configs.txt
!TrainRegression.py
!BoundinBoxRegression.py
!DataGenRegressionHED.py
!DataGenRegression.py